.tabla th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFAA00;
    color: white;
    text-align: center;
}

.tabla tr:nth-child(even){background-color: #f2f2f2;}
.tabla tr:nth-child(odd){background-color: #c2c2c2;}

.tabla{
    border-collapse: collapse;
}

.tablas{
    display: block;
    text-align: center;
    padding-left: 5%;
}

.oculto{
    visibility: hidden;
    display: none;
}